body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background-color:white; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white; 
}

.social-network {
  background-color: white; 
  color: black;
  width: 300px; 
  height: 400px;
  padding: 20px;
  margin: 10px; 
  text-align: center;
  border: 2px solid black;
}

.social-network svg {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.social-network h1 {
  font-size: 32px;
  margin: 10px 0;
  color: rgb(0 0 0); 
}

.social-network p {
  font-size: 16px;
  margin: 15px 0;
  padding: 15px;
  
}

.social-network a {
  display: inline-block;
  text-decoration: none;
  margin-top: 10px;
  padding: 15px 100px;
  border-radius:30px;
  color: #fff;
  background-color: deeppink;
}

.social-network:hover {
  background-color: deeppink;
  color: var(--white); 

  & a{
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    padding: 15px 100px;
    border-radius:30px;
    color: var(--black);
    background-color: white;
  }

  & h1{
    color: white; 
  }
}
