:root{
  --white:#fff;
  --black:#000; 
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--white); 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--white); 
}

.social-network {
  background-color: var(--white); 
  color: var(--black);
  width: 300px; 
  height: 400px;
  padding: 20px;
  margin: 10px; 
  text-align: center;
  border: 2px solid var(--black);
}

.social-network svg {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.social-network h1 {
  font-size: 32px;
  margin: 10px 0;
  color: rgb(0 0 0); 
}

.social-network p {
  font-size: 19px;
  margin: 15px 0;
}

.social-network:hover {
  background-color: deeppink;
  color: var(--white); 

  & a{
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    padding: 10px;
    border-radius:20px;
    color: var(--black);
    background-color: var(--white);
  }
}

.social-network a {
  display: inline-block;
  text-decoration: none;
  margin-top: 10px;
  padding: 10px;
  border-radius:20px;
  color: #fff;
  background-color: deeppink;
}
